.sprite1 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG001_Isle_of_Icacos_II_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite2 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG002_Owoce_wisni_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite3 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG003_Sata_Sarvinen_4_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite4 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG004_Man_sitting_under_beach_umbrella_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite5 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG005_Taipus_de_Fora_1_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite6 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG006_Praia_da_Rocha_Portimao_2_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite7 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG007_Winkelmatten_Matterhorn_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite8 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG008_Playa_Manzanillo_2_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite9 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG009_Summer_Flowers_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite10 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/summer/BG010_Xcalak_sunrise_1_480.jpg'); 
	background-repeat:no-repeat; 
}
