.sprite1 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG001_Merlot_Equinox_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite2 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG002_Oak_Acorn_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite3 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG003_Pumpkin_stem_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite4 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG004_Acer_japonicum_Vitifolium_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite5 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG005_Hinokibora_mokudou_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite6 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG006_Japanese_Squirrel_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite7 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG007_Red_Barn_Ontario_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite8 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG008_Copalme_Amerique_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite9 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG009_Giuseppe_Arcimboldo_Autumn_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite10 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/autumn/BG010_Paddestoel_480.jpg'); 
	background-repeat:no-repeat; 
}
