.sprite1 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg001_christmass_bulbs_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite2 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg002_flying_reindeer_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite3 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg003_happy_new_year_2015_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite4 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg004_snowman_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite5 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg005_xmas_tree_01_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite6 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg006_new_year_02_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite7 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg007_new_year_03_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite8 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg008_santas_sleigh_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite9 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg009_xmas_gift_02_480.jpg'); 
	background-repeat:no-repeat; 
} 
.sprite10 { 
	background-image:url('file:///mnt/sdcard/drkslide/gameset/christmas/bg010_classic_santa_480.jpg'); 
	background-repeat:no-repeat; 
}
